.summary {
  p:first-child {
    position: relative;
    text-align: justify;

    @include MQ(S) {
      margin-left: 120px;
      margin-right: 120px;
    }

    @include MQ(L) {
      &:before {
        content: '(';
        position: absolute;
        top: 0;
        left: -35px;
        font-size: 75px;
        line-height: 1;
      }

      &:after {
        content: ')';
        position: absolute;
        top: 0;
        right: -35px;
        font-size: 75px;
        line-height: 1;
      }
    }
  }
}